body {
  background: #0e1324;
  color: #fefefe;
  font-family: 'Poppins', sans-serif;
}

h1 {
  color: #ff4c1e;
}

a {
  text-decoration: none;
  color: #FFF;
}

img {
  width: 200px;
  height: 200px;
}